<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>CRUD - Example</title>
</head>

<body>
  <div class="container mt-5" id="app">

    <!--A esto se le llama """interpolación"""-->
    <h3>{{titulo}}</h3>

    <input type="text" class="form-control my-3" v-model="item" @keyup.enter="agregarTarea">
    <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

    <!--Permite mostrar almacenar el índice del array según la posición tarea-->
    <div class="mt-3" v-for="(tarea, index) of tareas">
      
      <div :class="['alert', {'alert-success': tarea.estado, 'alert-warning': !tarea.estado}]" role="alert">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            {{index}} | {{tarea.nombre}} - {{tarea.estado}}
          </div>
          <div>
            <!--
              Se usa esta forma y no la función @click="tarea.estado = true"
              debido a que al ejecutar una función si puedo guardar los cambios en local storage.

              Según mi lógica también debería funcionar si agrego el seguimiento de cambios
              desde una funcion en computed y guardo esos cambios en local storage
            -->
            <button class="btn btn-success btn-sm" @click="editarTarea(index)">Ok</button>
            <button class="btn btn-danger btn-sm" @click="eliminarTarea(index)">&nbsp;X&nbsp;</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="../vue.js"></script>
  <script src="main.js"></script>
</body>

</html>